# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
.env
.venv
venv/
ENV/
env/

# Environment variable files
.env
.env.*

# Streamlit secrets
.streamlit/secrets.toml

# Jupyter notebook checkpoints (if used)
.ipynb_checkpoints/

# VSCode / IDE config
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Log and temp files
*.log
*.sqlite3
*.db
*.bak
*.tmp
data/doc_manifest.json


# Compiled files
*.egg-info/
*.egg
dist/
build/

# detect-secrets baseline (optional to track manually)
# .secrets.baseline
